@model List<Comifer.ADM.ViewModels.DetailedProductViewModel>
@{
    ViewData["Title"] = "Lista Produtos";
}

@section header {
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Produtos</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="@Url.Action("Principal", "Inicio")"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Produtos</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
            <a href="@Url.Action("Incluir","Produtos")" class="btn btn-sm btn-neutral">Novo</a>
        </div>
    </div>
}

<div class="col">
    <div class="card">
        <div class="card-header border-0">
            @using (@Html.BeginForm("Principal", "Produtos"))
            {
                <div class="row filter">
                    <div class="col-6 pb-2">
                        <label for="ProviderId">Marca:</label>
                        @Html.DropDownList("idMarca", new List<SelectListItem>(ViewBag.Brands), new { @class = "form-control" })
                    </div>
                    <div class="col-6 pb-2">
                        <label for="ProviderId">Vista Explodida:</label>
                        @Html.DropDownList("idVistaExplodida", new List<SelectListItem>(ViewBag.ProductParents), new { @class = "form-control" })
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                    </div>
                </div>
            }
            <h3 class="mb-0">Lista</h3>
        </div>
        @await Html.PartialAsync("_Products", Model)
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            if ('@ViewBag.BrandId' != '') {
                $("#idMarca").val('@ViewBag.BrandId');
            }
            if ('@ViewBag.CategoryId' != '') {
                $("#idCategoria").val('@ViewBag.CategoryId');
            }
            if ('@ViewBag.ProductParentId' != '') {
                $("#idVistaExplodida").val('@ViewBag.ProductParentId');
            }
        });
    </script>
}
