<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ADM Loja Comifer</title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/favicon.ico" type="image/png">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

    <!-- Icons -->
    <link href="~/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/fontawesome/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/argon.css" type="text/css">
</head>

<body>
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="~/img/COMIFER.png" class="navbar-brand-img" alt="...">
                </a>
            </div>
            <div class="navbar-inner">
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Principal", "Inicio")">
                                <i class="fa fa-home text-light"></i>
                                <span class="nav-link-text">Início</span>
                            </a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Vendas</span>
                    </h6>
                    <ul class="navbar-nav mb-md-3">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Principal", "Clientes")">
                                <i class="fa fa-users text-blue"></i>
                                <span class="nav-link-text">Clientes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Principal", "Pedidos")">
                                <i class="fa fa-hand-holding-usd text-green"></i>
                                <span class="nav-link-text">Pedidos</span>
                            </a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Cadastros</span>
                    </h6>
                    <ul class="navbar-nav mb-md-3">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Principal", "Pecas")">
                                <i class="fa fa-cogs text-primary"></i>
                                <span class="nav-link-text">Peças</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Principal", "Maquinas")">
                                <i class="fa fa-tools text-orange"></i>
                                <span class="nav-link-text">Vistas Explodidas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Principal", "Marcas")">
                                <i class="fa fa-copyright text-teal"></i>
                                <span class="nav-link-text">Marcas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Principal", "Fornecedores")">
                                <i class="fa fa-boxes text-purple"></i>
                                <span class="nav-link-text">Fornecedores</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Principal", "Categorias")">
                                <i class="fa fa-tags text-dark-gray"></i>
                                <span class="nav-link-text">Categorias</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-content" id="panel" style="position: relative">

        <!-- Header -->
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    @RenderSection("header", required: true)
                </div>
                @{
                    var notification = TempData.Get<Comifer.ADM.ViewModels.NotificationViewModel>("Notification");
                    if (notification != null)
                    {
                        var icon = notification.Status ? "fa-check" : "fa-times";
                        var color = notification.Status ? "text-success" : "text-danger";

                        <div class="toast" id="notification" style="position: absolute; top: 5px; right: 5px;" data-autohide="false">
                            <div class="toast-header">
                                <strong class="mr-auto @color"><i class="fa @icon"></i> @notification.Title</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div>@notification.Message</div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="container-fluid mt--6">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Core -->
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>

    <!-- Argon JS -->
    <script src="~/js/argon.js"></script>

    <script>
        $(document).ready(function () {
            $("#notification").toast('show');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
