@model Comifer.ADM.ViewModels.DetailedCategoryViewModel
@{
    ViewData["Title"] = "Detalhes da Categoria";
}

@section header {
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Categoria</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="@Url.Action("Principal", "Inicio")"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Principal", "Categorias")">Categorias</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
            <a href="@Url.Action("Principal","Categorias")" class="btn btn-sm btn-neutral">Lista de Categorias</a>
        </div>
    </div>
}

<div class="col-xl-12 order-xl-1">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Detalhes</h3>
                </div>
                <div class="col-4">
                    <a href="@Url.Action("Editar", "Categorias", new { id = Model.Id })" class="btn btn-primary btn-sm pull-right">
                        <i class="fa fa-edit"></i> Editar
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body detailment">
            <div class="pl-lg-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.DisplayFor(m => m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductParentCount)
                    @Html.DisplayFor(m => m.ProductParentCount)
                </div>
            </div>
        </div>
    </div>
</div>