@model Comifer.Data.Models.Provider
@{
    ViewData["Title"] = "Editar Fornecedor";
}

@section header {
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Fornecedores</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="@Url.Action("Principal", "Inicio")"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Principal", "Fornecedores")">Fornecedores</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Editar</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
            <a href="@Url.Action("Principal","Fornecedores")" class="btn btn-sm btn-neutral">Lista de Fornecedores</a>
        </div>
    </div>
}

<div class="col-xl-12 order-xl-1">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Criar Fornecedor</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (@Html.BeginForm("Editar", "Fornecedores", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nome do Fornecedor" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DeliveryTime)
                            @Html.TextBoxFor(m => m.DeliveryTime, new { @class = "form-control", type = "value", skip = "1", placeholder = "Prazo de Entrega" })
                            @Html.ValidationMessageFor(m => m.DeliveryTime)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>