@model List<Comifer.ADM.ViewModels.DetailedProductParentViewModel>
@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="names">Nome</th>
                <th scope="col" class="sort text-center" data-sort="codes">Código</th>
                <th scope="col" class="sort text-center" data-sort="brands">Marca</th>
                <th scope="col" class="sort text-center" data-sort="categories">Categoria</th>
                <th scope="col" class="sort text-center" data-sort="products">Qtd. de Produtos</th>
                <th scope="col" class="text-center" width="200px">Ações</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="names">
                        @item.Name
                    </td>
                    <td class="codes text-center">
                        @item.Code
                    </td>
                    <td class="brands text-center">
                        @item.BrandName
                    </td>
                    <td class="categories text-center">
                        @item.CategoryName
                    </td>
                    <td class="products text-center">
                        @item.ProductCount
                    </td>
                    <td class="text-right text-center">
                        <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Editar", "VistasExplodidas", new { id = @item.Id })" role="button">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a class="btn btn-sm btn-outline-info" href="@Url.Action("Detalhes", "VistasExplodidas", new { id = @item.Id })" role="button">
                            <i class="fa fa-search"></i> Detalhes
                        </a>
                        <a class="btn btn-sm btn-outline-dark" href="@Url.Action("Principal", "Produtos", new { idVistaExplodida = @item.Id })" role="button">
                            <i class="fa fa-cogs"></i> Produtos
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>