@model Comifer.Data.Models.Brand
@{
    ViewData["Title"] = "Cadastrar Marca";
}

@section header {
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Marcas</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="@Url.Action("Principal", "Inicio")"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Principal", "Marcas")">Marcas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Incluir</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
            <a href="@Url.Action("Principal","Marcas")" class="btn btn-sm btn-neutral">Lista de Marcas</a>
        </div>
    </div>
}

<div class="col-xl-12 order-xl-1">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Incluir Marca</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (@Html.BeginForm("Incluir", "Marcas", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-6 form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nome da Marca" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="col-6 form-group">
                        @Html.LabelFor(m => m.ProviderId)
                        <div class="input-group">
                            @Html.DropDownListFor(m => m.ProviderId, new List<SelectListItem>(ViewBag.Providers), "Selecione um Fornecedor", new { @class = "form-control", placeholder = "Fornecedor" })

                            <div class="input-group-append">
                                <div class="input-group-text" id="btnGroupAddon2">
                                    <a href="@Url.Action("Incluir", "Fornecedores")">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.ProviderId)
                    </div>
                    <div class="col-12 form-group">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SiteUrl)
                            @Html.TextBoxFor(m => m.SiteUrl, new { @class = "form-control", placeholder = "Nome da Marca" })
                            @Html.ValidationMessageFor(m => m.SiteUrl)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary pull-right">Incluir</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            if ('@ViewBag.ProviderId' != '') {
                var providerId = '@ViewBag.ProviderId';
                $("#ProviderId").val(providerId);
            }
        });

        $("#Name").on("blur", function () {
            var name = $(this).val();
            var providerWithSameName = $('#ProviderId option:contains(' + name + ')').val();
            if (providerWithSameName != undefined) {
                $("#ProviderId").val(providerWithSameName);
            }
        });
    </script>
}