@model Comifer.ADM.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "ADM Comifer";
}

@section header {
    <div class="row align-items-center py-4">
        <div class="col-12">
            <h6 class="h2 text-white d-inline-block mb-0">Início</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i> Início</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Clientes</h5>
                            <span class="h2 font-weight-bold mb-0">@Model.Customers.CurrentValue.ToString("N0")</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> @Model.Customers.Growth %</span>
                        <span class="text-nowrap">Desde o mês passado</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Vistas Explodidas</h5>
                            <span class="h2 font-weight-bold mb-0">@Model.ProductParents.CurrentValue.ToString("N0")</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="fa fa-tools"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"></span>
                        <span class="text-nowrap"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Produtos</h5>
                            <span class="h2 font-weight-bold mb-0">@Model.Products.CurrentValue.ToString("N0")</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                                <i class="fa fa-cogs"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"></span>
                        <span class="text-nowrap"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Produtos p/ Venda</h5>
                            <span class="h2 font-weight-bold mb-0">@Model.FilledProducts.CurrentValue.ToString("N0")</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow">
                                <i class="fa fa-cogs"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"></span>
                        <span class="text-nowrap"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="col-xl-8">
    <div class="card bg-default">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-light text-uppercase ls-1 mb-1">Visão Geral</h6>
                    <h5 class="h3 text-white mb-0">Valor das Vendas [FIXO - TESTE]</h5>
                </div>
                <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#orders-value"
                            data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 20, 20]}]}}'
                            data-prefix="R$ " data-suffix=" mil">
                            <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                <span class="d-none d-md-block">Mês</span>
                                <span class="d-md-none">M</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="chart" data-target="#orders-value"
                            data-update='{"data":{"datasets":[{"data":[0, 5, 5, 5, 5, 25, 10, 30, 15, 40, 20]}]}}'
                            data-prefix="R$ " data-suffix=" mil">
                            <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                <span class="d-none d-md-block">Semana</span>
                                <span class="d-md-none">S</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Chart -->
            <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="orders-value" class="chart-canvas"></canvas>
            </div>
        </div>
     </div>
</div>
<div class="col-xl-4">
    <div class="card">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                    <h5 class="h3 mb-0">Total de Pedidos [FIXO - TESTE]</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Chart -->
            <div class="orders-amount">
                <canvas id="orders-amount" class="chart-canvas"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/chart.js/dist/Chart.min.js"></script>
<script src="~/vendor/chart.js/dist/Chart.extension.js"></script>*@
@*@section scripts {
    <script>

        var BarsChart = (function () {
            var $chart = $('#orders-amount');
            function initChart($chart) {
                var ordersChart = new Chart($chart, {
                    type: 'bar',
                    data: {
                        labels: ['Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                        datasets: [{
                            label: 'Pedidos',
                            data: [25, 20, 30, 22, 17, 29]
                        }]
                    }
                });

                $chart.data('chart', ordersChart);
            }

            if ($chart.length) {
                initChart($chart);
            }

        })();

        var SalesChart = (function () {
            var $chart = $('#orders-value');
            function init($chart) {

                var salesChart = new Chart($chart, {
                    type: 'line',
                    options: {
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    lineWidth: 1,
                                    color: Charts.colors.gray[900],
                                    zeroLineColor: Charts.colors.gray[900]
                                },
                                ticks: {
                                    callback: function (value) {
                                        if (!(value % 10)) {
                                            return 'R$ ' + value + ' mil';
                                        }
                                    }
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                label: function (item, data) {
                                    var label = data.datasets[item.datasetIndex].label || '';
                                    var yLabel = item.yLabel;
                                    var content = '';

                                    if (data.datasets.length > 1) {
                                        content += '<span class="popover-body-label mr-auto">' + label + '</span>';
                                    }

                                    content += '<span class="popover-body-value">$' + yLabel + 'k</span>';
                                    return content;
                                }
                            }
                        }
                    },
                    data: {
                        labels: ['Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                        datasets: [{
                            label: 'Performance',
                            data: [0, 20, 10, 30, 15, 40, 20, 60, 60]
                        }]
                    }
                });
                $chart.data('chart', salesChart);

            };

            if ($chart.length) {
                init($chart);
            }

        })();

    </script>*@
            }
