@model List<Comifer.ADM.ViewModels.DetailedBrandViewModel>
@{ 
    Layout = null;
}
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">Nome</th>
                <th scope="col" class="sort text-center" data-sort="provider">Fornecedor</th>
                <th scope="col" class="sort text-center" data-sort="productparents">Qtd. Vistas Explodidas</th>
                <th scope="col" class="sort text-center" data-sort="products">Qtd. Produtos</th>
                <th scope="col" class="text-center" width="200px">Ações</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="name">
                        @item.Name
                    </td>
                    <td class="provider text-center">
                        @item.ProviderName
                    </td>
                    <td class="productparents text-center">
                        @item.ProductParentCount
                    </td>
                    <td class="products text-center">
                        @item.ProductCount
                    </td>
                    <td class="text-right text-center">
                        <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Editar", "Marcas", new { id = @item.Id })" role="button">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a class="btn btn-sm btn-outline-info" href="@Url.Action("Detalhes", "Marcas", new { id = @item.Id })" role="button">
                            <i class="fa fa-search"></i> Detalhes
                        </a>
                        <a class="btn btn-sm btn-outline-dark" href="@Url.Action("Principal", "VistasExplodidas", new { idMarca = @item.Id })" role="button">
                            <i class="fa fa-tools"></i> Vistas Explodidas
                        </a>
                        <a class="btn btn-sm btn-outline-dark" href="@Url.Action("Principal", "Produtos", new { idMarca = @item.Id })" role="button">
                            <i class="fa fa-cogs"></i> Produtos
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>